fastapi
uvicorn[standard]
httpx
boto3
pydantic
pydantic-settings
python-dotenv
python-json-logger
cryptography>=42.0.0

openai
anthropic
PyJWT

# Observability
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-httpx
